<div class="extra" id="page3">
  <!--==============================header=================================-->

  <header>
    <%= render :partial => 'shared/header' %>
    <div class="row-bot">
      <div class="center-shadow">
      </div>
    </div>
  </header>
  <!--==============================content================================-->
  <section id="content">

    <div class="content-bg">
      <div class="main">
        <%= @service.body.html_safe %>
      </div>
    </div>
  </section>
</div>