<div class="contact-icons pull-right">
  <a href="https://www.facebook.com/sb4consulting/" target="_blank"><%= image_tag "face.png", alt: "facebook" %></a>
  <a href="https://www.linkedin.com/in/sadika-bernard-58aa488" target="_blank"><%= image_tag "linked.png", alt: "LinkedIn" %></a>
</div>