<%= render :partial => 'shared/header' %>

<!--==============================content================================-->
<section class="content-body">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 col-ms-8 col-xs-10" style="background-color: white; padding: 2% 1%; margin-bottom: 30px;">
        <%= @page.body.html_safe %>
      </div>
      <div class="col-md-2">
      </div>
    </div>
    </div>
  </section>