<div class="extra" id="page1">
  <!--==============================header=================================-->
  <header>
    <%= render :partial => 'shared/header' %>
    <div class="row-bot">
      <div class="center-shadow">
        <div class="carousel-container">
          <div id="carousel">
            <div class="carousel-feature">
              <a href="#"><%= image_tag "gallery-img1.png", class: "carousel-image", alt: "" %></a>
            </div>
            <div class="carousel-feature">
              <a href="#"><%= image_tag "gallery-img3.png", class: "carousel-image", alt: "" %></a>
            </div>
            <div class="carousel-feature">
              <a href="#"><%= image_tag "gallery-img2.png", class: "carousel-image", alt: "" %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<!--==============================footer=================================-->

<script type="text/javascript"> Cufon.now(); </script>