<%= render :partial => 'shared/header' %>

<!--==============================content================================-->
<section class="content-body">
  <div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <article class="col-md-8 col-xs-12 col-sm-10">
          <% if @events.any? %>
              <div class="row" >
                <% @events.each do |event, idx| %>
                    <div class="col-md-12 col-xs-12 col-sm-12">
                      <h4 class="p1"><h3><%= event.name %></h3></h4>
                      <p class="prev-indent-bot"><%=  event.body.html_safe %></p>
                    </div>
                    <hr/>
                <% end %>
              </div>
          <% end %>
        </article>
        <div class="col-md-2">

        </div>
      </div>

    </div>
  </section>