
<div id="page3">
  <!--==============================header=================================-->

  <header>
    <%= render :partial => 'shared/header' %>
    <div class="row-bot">
      <div class="center-shadow">
      </div>
    </div>
  </header>
  <!--==============================content================================-->
  <section >
    <div class="content">
      <div class="row">
        <div class="col-md-2">

        </div>
        <article class="col-md-8 col-xs-6 col-sm-10">
          <% if @events.any? %>
              <div class="row" >
                <% @events.each do |event, idx| %>
                    <div class="col-md-12 col-xs-12 col-sm-12">
                      <h4 class="p1"><h3><%= event.name %></h3></h4>
                      <p class="prev-indent-bot"><%=  event.body.html_safe %></p>
                    </div>
                    <hr/>
                <% end %>
              </div>
          <% end %>
        </article>
        <div class="col-md-2">

        </div>
      </div>

    </div>
  </section>
</div>